RewriteEngine On

# Fichiers ou dossiers réels : pas de réécriture
RewriteCond %{REQUEST_FILENAME} -f [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^ - [L]

# Route : /projects (accueil)
# Devient : index.php (sans paramètre = route par défaut du routeur)
RewriteRule ^projects$ index.php [L]

# Route : /projets/id/slug.html
# Exemple : /projets/12/mon-projet.html
# Devient : ?projets=show&id=12
RewriteRule ^projets\/([1-9][0-9]*)\/[a-z0-9]([a-z0-9\-]*[a-z0-9])*\.html$ ?projets=show&id=$1 [L]

# Route : /projets/delete/id/slug.html
# Exemple : /projets/delete/12/mon-projet.html
# Devient : ?projets=delete&id=12
RewriteRule ^projets\/delete\/([1-9][0-9]*)\/[a-z0-9]([a-z0-9\-]*[a-z0-9])*\.html$ ?projets=delete&id=$1 [L]

# Route : /projects/add/form.html (formulaire d'ajout)
# Devient : ?projets=addForm
RewriteRule ^projects\/add\/form\.html$ ?projets=addForm [L]

# Route : /projects/add/insert.html (ajout, données du formulaire en POST)
# Devient : ?projets=insert
RewriteRule ^projects\/add\/insert\.html$ ?projets=insert [L]

# Route : /projects/id/slug/edit/form.html (formulaire de modification)
# Exemple : /projects/12/mon-projet/edit/form.html
# Devient : ?projets=editForm&id=12
RewriteRule ^projects\/([1-9][0-9]*)\/[a-z0-9]([a-z0-9\-]*[a-z0-9])*\/edit\/form\.html$ ?projets=editForm&id=$1 [L]