RewriteEngine On

# Fichiers ou dossiers réels : pas de réécriture
RewriteCond %{REQUEST_FILENAME} -f [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^ - [L]

# Route : /projets/id/slug
# Exemple : /projets/12/mon-projet
# Devient : ?projets=show&id=12
RewriteRule ^projets\/([1-9][0-9]*)\/[a-z0-9]([a-z0-9\-]*[a-z0-9])*$ ?projets=show&id=$1 [L]
