RewriteEngine On

# Fichiers ou dossiers réels : pas de réécriture
RewriteCond %{REQUEST_FILENAME} -f [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^ - [L]

# Route : /projects (accueil)
# Devient : index.php (sans paramètre = route par défaut du routeur)
RewriteRule ^projects$ index.php [L]

# Route : /projets/id/slug.html
# Exemple : /projets/12/mon-projet.html
# Devient : ?projets=show&id=12
RewriteRule ^projets\/([1-9][0-9]*)\/[a-z0-9]([a-z0-9\-]*[a-z0-9])*\.html$ ?projets=show&id=$1 [L]

# Route : /projets/delete/id/slug.html
# Exemple : /projets/delete/12/mon-projet.html
# Devient : ?projets=delete&id=12
RewriteRule ^projets\/delete\/([1-9][0-9]*)\/[a-z0-9]([a-z0-9\-]*[a-z0-9])*\.html$ ?projets=delete&id=$1 [L]